/* Base reset */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.main-title {
    text-align: center;
    font-size: xx-large;
    color: yellow;
    margin: 1rem;
    font-family: 'Star Jedi', arial;
}

body {
    margin: 0;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    font-family: 'Star Jedi', arial;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

figure {
    margin: 2rem 3rem;
    border: solid 1px yellow;
    border-radius: 4px;
}

figcaption {
    text-align: center;
    color: yellow;
    font-size: 24px;
}